* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: rgb(19, 173, 153);
    padding: 1rem;
}

.navbar a {
    color: rgb(21, 204, 218);
    text-decoration: none;
    margin: 0 1rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 300px; /* Main content and sidebar */
    gap: 20px;
    padding: 1rem;
}

.content {
    background-color: #08ac1e;
    padding: 1rem;
}

.sidebar {
    background-color: #4d088d;
    padding: 1rem;
}

.footer {
    text-align: center;
    background-color: #85c410;
    color: rgb(41, 135, 172);
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr; /* Stack layout */
        border: 1px sandybrown;
        height: 30vh;
        background-color: aqua;

    }

    .navbar {
        flex-direction: column; /* Stack navigation links */
        align-items: center;
    }

    .navbar a {
        margin: 0.5rem 0; /* Adjust spacing */
    }
}
